<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="de.schnocklake.cordova.usbSerial"
    version="0.3.0">

    <name>UsbSerialCordovaPlugin</name>
    <description>UsbSerialCordovaPlugin</description>
    <license>Apache 2.0</license>
    <keywords>arduino</keywords>
    <repo>https://github.com/tsschnoc/UsbSerialCordovaPlugin.git</repo>
    <issue>https://github.com/tsschnoc/UsbSerialCordovaPlugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

    <js-module src="www/usbSerial.js" name="usbSerial">
        <clobbers target="window.usbSerial" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="USBSerial">
                <param name="android-package" value="de.schnocklake.cordova.USBSerial"/>
            </feature>
        </config-file>

        <source-file src="src/android/de/schnocklake/cordova/USBSerial.java"
            target-dir="src/de/schnocklake/cordova"/>

        <!-- kludge for 2.9 -->
        <source-file src="src/android/org/apache/cordova/api/Dummy.java"
            target-dir="src/org/apache/cordova/api"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

</plugin>
